*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main{
    margin: 20px auto;
    background: lightgray;
}
#title{
text-align: center;
padding-top: 50px;
font-size: 50px;
font-weight: bold;
}
#title-description{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}
#img-div{
    
background-color: #fff;
}
#image{
    display: block;
    width: 95%;
    margin: 20px auto;
    padding: 5px 50px;
}

#img-caption{
    margin: 20px auto;
    padding: 5px 50px;
    
}

#tribute-info h2{
text-align: center;
padding:50px;
}

#tribute-info ul{
    list-style-type: disc;
    display:table;
    margin: 0 auto;
    text-align: left;


    
}
ul li{
    text-align: left;
    margin-left: 10%;
    padding: 10px;
    font-size: 18px;
}
#tribute-text {
    display:table;
    margin: 0 auto;
    text-align: left;
    
}
#tribute-text P{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 20px;
}
#link h4{
    text-align: center;
    font-size: 25px;
    padding-bottom: 20px ;
}